/*-------------- Global --------------*/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-pink: #fbc2cf;
  --color-dark-pink: #f03661;
  --color-grey: #666;
  --color-light-grey: #999;
  --color-blue: #3440fb;
  --color--light-blue: #4653fb;
  --color-black: #121212;

  /* Font size */
  --font-huge: 62px;
  --font-large: 48px;
  --font-medium: 32px;
  --font-normal: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 800;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
}

/*-------------- Typography --------------*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-normal);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/*-------------- Universal tags --------------*/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  padding: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}
/* container */
.container {
  max-width: 1200px;
  margin: auto;
}
/* Section common */
.section {
  padding: 100px 50px;
  text-align: center;
}
/* Section H1 line */
.section > h1::before {
  content: "";
  display: block;
  border: 2px solid var(--color-blue);
  width: 96px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 16px;
}
.btn {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  background: var(--color-blue);
  border-radius: 6px;
  color: #fff;
  padding: 16px 24px;
  letter-spacing: 4px;
  margin: 16px 0;
  transition: all 300ms ease;
  border: 2px solid transparent;
}
.btn:hover {
  border: 2px solid var(--color-blue);
  background: var(--color-white);
  color: var(--color-blue);
}
/*-------------- Navbar --------------*/
.navbar__container {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all 300ms ease-in-out;
}
#navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.navbar__container.navbar--dark {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
.navbar__menu {
  display: flex;
  font-weight: var(--weight-medium);
  letter-spacing: 1px;
}
.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  letter-spacing: 12px;
}
.navbar__logo img {
  width: 40px;
  height: 40px;
  margin: 0 16px;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 6px;
}
.navbar__menu__item:hover {
  background: var(--color--light-blue);
  color: var(--color-white);
}
.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 24px;
  font-size: 22px;
  display: none;
}
/*-------------- Home --------------*/
#home {
  padding: 200px 60px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.home__title span {
  color: var(--color-blue);
}
.home__description {
  font-weight: var(--weight-medium);
}

.home__circleImgBox {
  background-color: var(--color-blue);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  padding-top: 32px;
  position: relative;
}
.home__circleImgBox img.home__avatar {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.home__circleImgBox img.home__avatar-line {
  position: absolute;
  left: 145px;
  top: 50px;
}
.home__circleImgBox .home__avatar-text {
  color: var(--color-white);
  position: absolute;
  top: 120px;
  left: 30px;
  font-size: var(--font-small);
  line-height: 32px;
  letter-spacing: 4px;
}

/*-------------- About --------------*/
.about__flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__img {
  padding: 32px 32px 32px 0;
  width: 50%;
  text-align: right;
}
.about__description {
  text-align: left;
  padding-left: 32px;
  width: 50%;
}
.about__description h3 {
  font-weight: var(--weight-semi-bold);
  display: inline-block;
}
.about__description p {
  line-height: 32px;
  font-weight: var(--weight-medium);
}
.about__description h3::before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: var(--color-pink);
  position: relative;
  z-index: -1;
  top: 32px;
}
.about__description h3:last-of-type {
  margin-top: 16px;
}

/*-------------- Experience --------------*/
.experience {
  width: 100%;
  height: 450px;
  margin: 32px 0 100px;
}
/* tab */
.experience__tab-btn {
  display: flex;
  align-items: center;
}
.experience__tab-btn li {
  width: 50%;
}
.experience__tab-btn li:first-child {
  text-align: right;
  padding-right: 32px;
}
.experience__tab-btn li:last-child {
  text-align: left;
  padding-left: 32px;
}
.experience .experience__tab-btn li .tab {
  font-size: var(--font-medium);
}
.experience .experience__tab-btn li.active .tab {
  font-weight: var(--weight-semi-bold);
  color: var(--color-blue);
}
/* tab contents */
.content_box {
  margin-top: 32px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.content_box::after {
  content: "";
  position: absolute;
  width: 2px;
  background: var(--color-blue);
  top: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.content_box .content {
  width: 50%;
  padding: 0 32px 48px;
  position: relative;
  border-radius: 8px;
}
.content_box .content::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background: var(--color-blue);
  border-radius: 50%;
  z-index: 10;
  top: 10px;
}
.content_box .left {
  left: 0;
  text-align: right;
}
.content_box .right {
  left: 50%;
  text-align: left;
}
.right::after {
  left: -10px;
}
.content h3 {
  font-size: var(--font-normal);
  font-weight: var(--weight-medium);
}
.content i {
  color: var(--color-light-grey);
  margin-right: 8px;
}
.content p {
  color: var(--color-light-grey);
}
#tab2 {
  display: none;
}

/*-------------- Skills --------------*/
.skills__majors {
  margin-top: 16px;
}
.skills__majors .major {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}
.major__descriptrion {
  text-align: left;
  width: 510px;
}
.major__descriptrion li {
  font-size: var(--font-small);
  line-height: 28px;
}
.major__descriptrion li:first-child {
  font-weight: var(--weight-medium);
  font-size: var(--font-normal);
  margin-bottom: 16px;
}
.major__icon {
  width: 150px;
  height: 150px;
  background-color: var(--color-blue);
  border-radius: 50%;
  margin-right: 48px;
}
.major__icon i {
  font-size: var(--font-huge);
  color: var(--color-white);
  line-height: 150px;
  transition: all 300ms ease-in-out;
}
.major__icon:hover i {
  transform: rotate(30deg) scale(1.1);
  color: var(--color-pink);
}
.skillset {
  display: flex;
  background: #f5f5f5;
  margin: 62px 0 0;
}
.skillset__title {
  font-weight: var(--weight-medium);
}
.skillset__left {
  flex-basis: 50%;
  background: #eee;
  padding: 32px;
}
.skillset__right {
  flex-basis: 50%;
  padding: 32px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 16px;
  background: #c9ccff;
  margin-bottom: 8px;
  border-radius: 2px;
}
.skill__value {
  height: 16px;
  background: var(--color--light-blue);
}
.etc {
  margin-top: 32px;
}
/*-------------- Work --------------*/
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color--light-blue);
  border-radius: 6px;
  font-size: var(--font-regular);
  padding: 8px 48px;
  color: var(--color-blue);
  position: relative;
  margin: 8px 4px;
}
.category__btn.active,
.category__btn:hover {
  background: var(--color--light-blue);
  color: var(--color-white);
}
.category__count {
  background: var(--color-dark-pink);
  border-radius: 50%;
  color: var(--color-white);
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 24px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 8px;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.work__projects.animate-out {
  opacity: 0;
  transform: scale(0.9) translateY(16px);
}
.project {
  width: 250px;
  height: 250px;
  margin: 2px;
  background: var(--color-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project.invisible {
  display: none;
}
.project .project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease;
}
.project__description span {
  padding: 0 16px;
}
.project:hover .project__description {
  opacity: 1;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color--light-blue);
}
.project__description span {
  color: var(--color-white);
}
.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 8px;
  width: 50px;
  height: 2px;
  background-color: var(--color--light-blue);
}
/*-------------- Testimonials --------------*/
#testimonials {
  background: #eee;
  margin-top: 100px;
}
.testimonials {
  margin: 40px;
}
#testimonials h3 {
  margin-bottom: 40px;
}
.testimonials {
  display: flex;
  margin: 32px 16px;
}
.testimonials__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonials__avatar:nth-child(odd) {
  margin-right: 16px;
}
.testimonials__avatar:nth-child(even) {
  margin-left: 16px;
}
.testimonials__speech-bubble {
  padding: 32px;
  background: var(--color-white);
  border-radius: 8px;
}
.testimonials__speech-bubble:nth-child(even) {
  text-align: left;
}
.testimonials__speech-bubble:nth-child(odd) {
  text-align: right;
}
.speech-bubble__name {
  color: var(--color-light-grey);
}
.speech-bubble__name a {
  color: var(--color--light-blue);
}
/*-------------- Contact --------------*/
.contact__information {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.contact__information i {
  font-size: var(--font-medium);
  color: var(--color-blue);
  margin-right: 32px;
}
.contact__information-box {
  text-align: left;
}
.contact__flexbox {
  display: flex;
  justify-content: space-between;
  padding: 64px;
}
.contact__left {
  width: 40%;
}
.contact__right {
  margin-right: auto;
  padding-left: 32px;
  width: 60%;
}
.contact__content {
  text-align: left;
}
.contact__input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color--light-blue);
  margin-bottom: 16px;
  padding: 8px 0;
}
.contact__form textarea {
  margin-bottom: 32px;
  border-bottom: 1px solid var(--color--light-blue);
}
/*-------------- footer --------------*/
#footer {
  background: var(--color-blue);
}
#footer h2,
#footer h3 {
  color: var(--color-white);
}
.footer__links i {
  color: var(--color-white);
  font-size: var(--font-large);
  margin: 0 8px;
  transition: all 300ms ease;
}
.footer__links :hover {
  transform: scale(1.1);
}
.footer__copyrights {
  color: var(--color-white);
}
.footer__title .navbar__logo {
  justify-content: center;
}
.footer__title .navbar__logo a {
  color: var(--color-white);
}
.footer__email {
  margin: 32px 0;
}
.footer__copyrights {
  margin-top: 16px;
  font-weight: var(--weight-light);
}

/*-------------- scroll up btn --------------*/
.scrollup-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 32px;
  padding: 16px 8px;
  border-radius: 32px;
  background: var(--color--light-blue);
  opacity: 0;
  transition: all 300ms ease;
  pointer-events: none;
}
.scrollup-btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.scrollup-btn.visible {
  opacity: 1;
  pointer-events: auto;
}
.scrollup-btn i {
  color: var(--color-white);
}
/*-------------- 반응형 --------------*/
@media screen and (max-width: 1024px) {
  #home {
    flex-direction: column-reverse;
    text-align: center;
  }
  .home__leftBox {
    padding: 32px 0 0;
  }
  .about__flex-box {
    flex-direction: column;
  }
  .about__img {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .about__description {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 960px) {
  .section {
    padding: 64px 0;
  }
  #home {
    padding: 100px 16px 32px;
  }
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .major {
    flex-direction: column;
  }
  .major__icon {
    margin: 0;
    margin-bottom: 32px;
  }
  .major__descriptrion {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 32px 16px;
  }
  .btn {
    font-size: var(--font-small);
    padding: 12px 16px;
  }
  .section h1 {
    font-size: var(--font-medium);
  }
  .section h3 {
    font-size: var(--font-regular);
  }
  .experience__tab-btn {
    flex-direction: column;
  }
  .experience__tab-btn li:first-child,
  .experience__tab-btn li:last-child {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .experience .experience__tab-btn li .tab {
    font-size: var(--font-normal);
  }
  .content h3 {
    font-size: var(--font-regular);
  }
  .skillset {
    flex-direction: column;
    margin: 0;
  }
  .work__categories {
    margin: 16px;
  }
  .major__descriptrion {
    width: 100%;
  }
  .category__btn {
    width: 100%;
    margin: 4px 0;
  }
  .project {
    flex-grow: 1;
  }
  #testimonials {
    margin: 50px 0;
  }
  .testimonials {
    flex-direction: column;
    align-items: center;
  }
  .testimonials__avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
  }
  .testimonials__avatar:nth-child(even) {
    margin-left: 0;
  }
  .testimonials__avatar:nth-child(odd) {
    margin-right: 0;
  }
  .testimonials__speech-bubble {
    padding: 16px;
    order: 1;
  }
  .testimonials__speech-bubble p {
    font-size: var(--font-small);
  }
  .contact__flexbox {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .contact__left {
    margin: 32px 0 16px;
  }
  .contact__right {
    margin: 0 auto;
    width: 90%;
    padding: 0;
  }
  .contact__information {
    flex-direction: column;
  }
  .contact__information-box {
    text-align: center;
  }
  .contact__information i {
    margin: 0;
  }
  #footer {
    margin-top: 50px;
  }
  .footer__email {
    font-size: var(--font-normal);
  }
}
